html, body {
    height: 100%;
    width: 100%;
}
body {
  background-color:#f5f5f5;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

a, p, h1, h2, h3, h4, .text {
font-family: 'Roboto', sans-serif;
}

h1 {
font-weight:300;
}

body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}

/****************************************/
#wrap { 
    border:none;
    height: auto !important;
    min-height: 100%;
    position: relative;
    width:100%;
	padding:0 !important;
	font-family: 'Roboto', sans-serif;
}

.container {
padding:0 35px !important;
font-family: 'Roboto', sans-serif;
}

#main {
    clear: both;
    padding: 0;
	font-family: 'Roboto', sans-serif;
}



#head {height: 133px;position: relative; overflow:hidden;background:#fdd835;}
#head .logo {margin-top:15px; height: 140px; overflow: hidden;padding: 0 !important;display:inline-block;float:left;position:relative;}
#head .logo img {border: 0 none;}
#head .cname {color: #333333;  
margin-top: 26px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 18px;
  line-height: 40px;
  padding: 0;
  display:inline-block;
  float:left;position:relative;}
#head .tright { margin-top: 26px;
  margin-top: 26px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 90px;
}
#head .tright .numbers i {
  font-size: 28px;
  margin-right: 6px;
    margin-bottom: 12px;
  }
#head .tright .numbers p {font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 14px;}
  #head .tright .numbers p a {
  color:#333;
  text-decoration:none;
  }
  
  
  

#footer {/*margin: -125px auto 0;*/ position: relative;height: 133px; overflow:hidden;background:#fdd835;}

#footer .logo {margin-top:15px; height: 140px; overflow: hidden;padding: 0 !important;display:inline-block;float:left;position:relative;}
#footer .logo img {border: 0 none;}
#footer .cname {color: #333333;
  margin-top: 26px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 13px;
  line-height: 28px;
  padding: 0;
  display: inline-block;
  float: left;
  position: relative;}
#footer .tright {   
margin-top: 16px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  display: inline-block;
  float: right;
  position: relative;
  margin-left: 90px;
}
#footer .tright .numbers i {
  font-size: 22px;
  margin-right: 6px;
  margin-bottom: 12px;
  }
#footer .tright .numbers p {  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 14px;}
#footer .tright .numbers p a {
  color:#333;
  text-decoration:none;
  }










#text_body {

}

#container {
}
#content {
padding-bottom:80px;
padding-left:0 !important;
padding-right:0 !important;
display:table;
}

.breadcrumb {
padding:8px 0 !important;
}

.breadcrumb a {
color: #000;
}

.breadcrumb a:hover {
text-decoration:none;
color:#ad1457;
}

.daGallery {
margin:0 -5px;
}

#content .info {
/*margin-top: 10px;*/
font-size: 18px;
font-weight: 300;
}

#sidebarLeft, #sidebarRight {/*margin-top: 25px;*/margin:0 ;padding:0;}

 #sidebarRight {
}
.block .inside {padding: 10px 25px 0;}



table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {padding: 8px 0; position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list li {font-size:18px}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}

.b-menu-top {
  background-color: #ffeb3b;
  margin-top:0;
  border:none;
  width:100%;
  min-height:56px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
border-radius:0;
}
.b-menu-top li a {
  padding-top: 19px;
  padding-bottom: 17px;
    font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#333 !important;
}

.b-menu-top li:first-child  a{
  //margin-left: -15px;
}

.navbar-nav {
margin-left:-15px;
}

.b-menu-top li a:hover, .b-menu-top li.active a, .b-menu-top li a:active, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background: #f9db49 !important;
}

.b-menu-top .dropdown-menu li:first-child a {
margin-left:0;
}

.b-menu-top .dropdown-menu li a:hover, .b-menu-top .dropdown-menu li.active a, .b-menu-top .dropdown-menu li a:active  {
background: #ebebeb !important;
}


b.caret {
display:none;
}

.b-menu-top .nav-collapse:after {clear:both; content: ""; display: table; line-height: 0;}
.b-menu-top .pull-right {margin-top:4px; margin-bottom:0}
.b-menu-top .dropdown-menu .caret {display:none}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(../../../ngin/assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}
#back-top {
    display: none;
}
#back-top { font-size: 20px;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3; 
    position: fixed;
    top: 0; 
    height:100%; cursor: pointer;
    width: 40px;
}
#back-top:hover{ opacity: 0.9;  background:#F0F0F0;}
#back-top span{display:block; padding:10px}


.b-news-widget-new {
  padding-right: 17px;
 }

.b-news-widget-new .item {
background: #f7f7f7;
font-family: 'Roboto', sans-serif;
width:100%;
-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
margin-top: 24px;
display:table;
}

.b-news-widget-new h2 {
  font-size: 47px;
  font-weight: 300;
}

.b-news-widget-new h3 {
  font-weight: 400;
  margin-left: 15px;
  margin-right:15px;
  margin-top: 16px;
  font-size:24px;
}


.b-news-widget-new .text {
  margin: 18px 15px;
  font-size: 16px;
  text-align: justify;
  color:#000;
  }

.b-news-widget-new .date {  
   border-top: 1px solid #ccc;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}


.b-news-widget .item .photo {
width:100%;
margin:0;
}

.b-news-widget-new .item img {
width:100%;
/*height: 250px;*/
}

.b-news-widget-new a {
 color:#333;
 text-decoration:none;
}



.b-event-widget {
  padding-left: 17px;
}
 
.b-event-widget a {
 color:#333;
 text-decoration:none;
}
 
.b-event-widget .item .photo {
width:100%;
margin:0;
}

.b-event-widget .item img {
width:100%;
/*height: 250px;*/
}

.b-event-widget .item {
background: #f7f7f7;
font-family: 'Roboto', sans-serif;
width:100%;
 -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  margin-top: 24px;
    display:table;
}

.b-event-widget h2 {
  font-size: 47px;
  font-weight: 300;
}

.b-event-widget h3 {
  font-weight: 400;
  margin-left: 15px;
  margin-right:15px;
  margin-top: 16px;
  font-size:24px;
}

.b-event-widget .text {
  margin: 18px 15px;
  font-size: 16px;
  text-align: justify;
  color:#000;
}

.b-event-widget .date {  
   border-top: 1px solid #ccc;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}




.b-event-list {
padding-bottom:80px;
}
 
.b-event-list a {
 color:#333;
 text-decoration:none;
}
 
.b-event-list .item .photo {
margin:0;
float:left;
margin: 15px;
}

.b-event-list .item img {
//width:100%;
/*height: 250px;*/
max-width:352px;
}

.b-event-list .item {
background: #f7f7f7;
font-family: 'Roboto', sans-serif;
width:100%;
-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
margin-top: 24px;
display:table;
float:left;
}

.b-event-list h2 {
  font-size: 47px;
  font-weight: 300;
}

.b-event-list h3 {
  font-weight: 400;
  margin-left: 15px;
  margin-right:15px;
  margin-top: 16px;
  font-size:24px;
}

.b-event-list .text {
  margin: 18px 15px;
  font-size: 16px;
  text-align: justify;
  color:#000;
  margin-top:0;
}

.b-event-list .date {  
   border-top: 1px solid #ccc;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  display:block;
  clear:both;
}

.b-event-single {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.b-event-single .date{
margin:15px 0;
}

.b-event-single p {
font-size:16px;
}

.b-event-single img {
margin:15px 0;
}


.b-news-list {
padding-bottom:80px;
}
 
.b-news-list a {
 color:#333;
 text-decoration:none;
}
 
.b-news-list .item .photo {
margin:0;
float:left;
margin: 15px;
}

.b-news-list .item .photo img{
width: auto !important;
}

.b-news-list .item img {
//width:100%;
/*height: 250px;*/
max-width:352px;
}

.b-news-list .item {
background: #f7f7f7;
font-family: 'Roboto', sans-serif;
width:100%;
-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
margin-top: 24px;
display:table;
float:left;
}

.b-news-list h2 {
  font-size: 47px;
  font-weight: 300;
}

.b-news-list h3 {
  font-weight: 400;
  margin-left: 15px;
  margin-right:15px;
  margin-top: 16px;
  font-size:24px;
  margin-bottom: 10px;
}

.b-news-list .text {
  margin: 18px 15px;
  font-size: 16px;
  text-align: justify;
  color:#000;
  margin-top:0;
}

.b-news-list .date {  
   border-top: 1px solid #ccc;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  display:block;
  clear:both;
}

.b-news-list h3 a {
	margin:0 !important;
}

.b-news-single {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}

.b-news-single .date{
margin:15px 0;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #333;
}

.b-news-single p {
font-size:16px;
}

.b-news-single img {
margin:15px 0;
}

.pagination {
margin:20px 0;
text-align:center;
width:100%;
}

.pagination  ul{
list-style:none;
}

.pagination  ul li {
display:inline-block;
}

.pagination  ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  margin:0 15px;
}

.b-like-buttons {
margin:15px 0;
}

.archive {
  margin: 10px 0;
  float: right;
}

.archive a {
font-size:14px;
font-weight:500;
text-decoration:underline;
color:#000;
}

.archive a:hover {
text-decoration:none;
color:#ad1457;
}

.b-gallery-widget {
	background: #fafafa;
	padding-bottom:80px;
}

.b-gallery-widget h2 {
  font-size: 47px;
  font-weight: 300;
}

.gallery-container {
	margin-right:-25px;
}

.gallery-item {
	width: 200px;
	float:left;
	margin-right:25px;
	margin-top:10px;
}

.gallery-item:first-child {
	margin-left: 0;
	}
	
.gallery-item:last-child {
	margin-right: 0;
	}	
	
@media screen and (max-width: 991px) {
	.b-event-widget {
  padding-left: 0 !important;
	}
	.logo {
	text-align:center !important;
	float:none !important;
	}
	
	#head .container, #footer .container {
	text-align:center;
	}
	.cname {
	display:none !important;
	}
}	
